@model FooterViewModel
  <!-- Brands -->

<div class="brands">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="brands_slider_container">

                    <!-- Brands Slider -->

                    <div class="owl-carousel owl-theme brands_slider">
                        @foreach (var pantner in Model.Pantners)
                        {
                            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="@Model.DomainApi@pantner.Image" alt="@pantner.Name"></div></div>
                        }
                    </div>

                    <!-- Brands Slider Navigation -->
                    <div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
                    <div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                    <div class="logo_container">
                        <div class="logo"><a href="/index.html">OneTech</a></div>
                    </div>
                    <div class="footer_title">Chăm sóc khách hàng 24/7</div>
                    <div class="footer_phone">@Model.Contacts.Phone</div>
                    <div class="footer_contact_text">
                        <p>@Model.Contacts.Address</p>
                    </div>
                    <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Sản phẩm</div>
                    <ul class="footer_list">
                        @{var countbegin = (Model.ProductCategorys.Count() > 7) ? 7 : Model.ProductCategorys.Count();}
                         @for (int i = 0; i <countbegin; i++)
                        { var url1 = "/" + Model.ProductCategorys[i].SeoAlias + ".pc-" + Model.ProductCategorys[i].Id + ".html";
                             <li><a href="@url1">@Model.ProductCategorys[i].Name</a></li>
                        }
                    </ul>
                </div>
            </div>
            @if (Model.ProductCategorys.Count() > 7)
            {
                <div class="col-lg-2">
                    <div class="footer_column">
                        <ul class="footer_list footer_list_2">
                            @for (int i = 7; i < Model.ProductCategorys.Count(); i++)
                            {
                                var url2 = "/" + Model.ProductCategorys[i].SeoAlias + ".pc-" + Model.ProductCategorys[i].Id + ".html";
                                <li><a href="@url2">@Model.ProductCategorys[i].Name</a></li>
                            }

                        </ul>
                    </div>
                </div>
            }

            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Thông tin</div>
                    <ul class="footer_list">

                        <li><a href="/about.html">Giới thiệu</a></li>
                        <li><a href="/contact.html">Liên hệ</a></li>
                        <li><a href="/policy.html">Chính sách</a></li>
                        <li><a href="/blog.html">Tin tức</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>