@{
    ViewData["Title"] = (string)ViewBag.HomeTitle;
    ViewData["MetaDescription"] = (string)ViewBag.HomeMetaDescription;
    ViewData["MetaKeyword"] = (string)ViewBag.HomeMetaKeyword;
}
@model HomeViewModel

<!-- Banner -->
@section Scripts{
    <script src="~/client-side/plugins/slick-1.8.0/slick.js"></script>
    <script src="~/client-side/js/custom.js"></script>
}
<div class="banner_2">

    @*<div class="banner_2_background" style="background-image:url(~/client-side/images/banner_background.jpg)"></div>*@
    <div class="banner_2_container">
        <div class="banner_2_dots"></div>
        <!-- Banner 2 Slider -->

        <div class="owl-carousel owl-theme banner_2_slider">
            @foreach (var slide in Model.ListSlide)
            {
                <!-- Banner 2 Slider Item -->
                <div class="owl-item">
                    <div class="banner_2_item">
                        <div class="container fill_height">
                            <div class="row fill_height">
                                <div class="col-5 col-sm-4 col-lg-3 offset-lg-4 fill_height">
                                    <div class="banner_2_content">
                                        <div class="banner_2_title">@slide.Name</div>
                                        <div class="banner_2_text">@slide.Description</div>
                                        <div class="button banner_2_button"><a href="@slide.Url">Visit Now</a></div>
                                    </div>

                                </div>
                                <div class="col-7 col-sm-8  col-lg-5 col-md-6 fill_height">
                                    <div class="banner_2_image_container">
                                        <div class="banner_2_image"><img src="@Model.DomainApi@slide.Image" alt="@slide.Name"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>
    </div>
</div>

@foreach (var category in Model.ListCategory)
{
    <!-- Recently Viewed -->

    <div class="viewed">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="viewed_title_container">
                        <h3 class="viewed_title">@category.Name</h3>
                        <div class="viewed_nav_container">
                            <div data-slidverper="@category.Id" class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
                            <div data-slidvernext="@category.Id" class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
                        </div>
                    </div>

                    <div class="viewed_slider_container">

                        <!-- Recently Viewed Slider -->
                        <div id="@category.Id" class="owl-carousel owl-theme viewed_slider">
                            @foreach (var product in category.Products)
                            {
                                var urlproduct = "/" + product.SeoAlias + ".p-" + product.Id + ".html";
                                <!-- Recently Viewed Item -->
                                <div class="owl-item">
                                    <div class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="viewed_image"><img src="@Model.DomainApi@product.ThumbnailImage" alt="@product.Name"></div>
                                        <div class="viewed_content text-center">
                                            <div class="viewed_name"><a href="@urlproduct">@product.Name</a></div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
